bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/packages.config
/MiliraXian_NeiyuLaw.csproj
/MiliraXian_NeiyuLaw.sln.DotSettings.user
/MiliraXian_NeiyuLaw.sln
1.6/Assemblies/
/.idea/.idea.MiliraXian_NeiyuLaw/.idea/.name
/.idea/.idea.MiliraXian_NeiyuLaw/.idea/indexLayout.xml
/.idea/.idea.MiliraXian_NeiyuLaw/.idea/vcs.xml
